.title {
    color: #4A4A4A;
    font-family: Ubuntu;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
}

.search {
    display: flex;
    width: 100%;
    position: relative;
}

input[type=search] {
    height: 46px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    /*position: inherit;*/
}
input[type=submit] {
    position: absolute;
    right: 0;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    background-color: #4A90E2;
    background-image: url("../../../img/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
}


